# MongoDB Atlas connection string
MONGODB_URI=mongodb+srv://<username>:<password>@fofvolopay.ndopw16.mongodb.net/fof-crm?retryWrites=true&w=majority&appName=FofVoloPay

# Port (used locally)
PORT=5000

# Environment
NODE_ENV=production
